# Salin file ini menjadi ".env.local" lalu isi nilainya.
# Project ID bisa dilihat di https://sanity.io/manage setelah membuat project.
NEXT_PUBLIC_SANITY_PROJECT_ID=isi_project_id_disini
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SITE_URL=https://peini-blog.vercel.app
